* {
  padding: 0;
  margin: 0;
  --burgerline_width: 30px;
  --burgerline_height: 6px;
  --burgerline_margin: 5px;
    
  --background_color: white;
}

#huvudsida{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px 80px 500px;
  grid-template-areas:
  "se1 se1 se1"
  "se2 se2 se2"
  "ar3 ar4 ar5" ;
}
/* #beautysida {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 200px);
  grid-template-areas:
    "se10 se10 se10 se10"
    "se11 se11 se11 se11"
    "ar6 ar6 ar6 ar7"
    "ar6 ar6 ar6 ar8"
    "se12 se12 se12 se12"
    "ar9 ar10 ar11 ar12"
    "se13 se13 se13 se13"
    "ar13 ar14 ar15 ar16";
} */

#section_1 {
  grid-area: se1;
  background-image: url(../img/bild_sid1.jpg);
  background-position: center;
  background-size: cover;
  
}

#section_2 {
  background-color: white;
  grid-area: se2;
  align-items: center;
}

#text_se2 {
  padding-top: 50px;
  font-size: 25px;
}

#article_3 {
  grid-area: ar3;
  background-image: url(../img/fashionweekcopenhagen_sid1_.jpg);
  background-position: center;
  background-size: cover;
}
.fashionweek_copengen_text {
color: white;
font-size: 25px;
}
#article_4 {
  grid-area: ar4;
  background-image: url(../img/met_gala_sid1.jpg);
  background-position: center;
  background-size: cover;
}

#trendsida{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 300px 300px 300px;
  grid-template-areas:
  "se3 se3"
  "se4 se5"
  "se6 se7" 
  "se8 se9";
}

#beautysida{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 300px 300px 3200px ;
  grid-template-areas: 
  "se1_b se1_b se1_b se1_b"
  "se2 se2 se2 se2"
  ""
  ""
  ""
  ""
  ""
  ""
  "";
}

#section1_beauty{
  grid-area: se1_b;
  color: blue;
}

/* <section id="section1_beauty">section 1</section>
<section id="section2_beauty">section 2</section> 
<article id="article1_beauty">aticle 1</article>
<article id="article2_beauty">article 2</article>
<article id="article3_beauty">article 3</article>
<section id="section3_beauty">section 3</section>
<article id="article4_beauty">article 4</article>
<article id="article5_beauty">article 5 </article>
<article id="article6_beauty">article 6</article>
<article id="article7_beauty">article 7</article>
<section id="section4_beauty">section 4</section>
<article id="article8_beauty">article 8</article>
<article id="article9_beauty">article 9</article>
<article id="article10_beauty">article 10</article>
<article id="article11_beauty">article 11</article> */

#section_3{
  background-color: beige;
  grid-area: se3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#trender_rubrik{
  font-size: 80px;
}

#section_4{
  background-color: white;
  grid-area: se4;
  align-items: center;
  display: flex;
  justify-content: center;
}
#section_5{
  background-color: white;
  grid-area: se5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
.text_trendsida{
  padding-top:20px;

}
#section_6{
  grid-area: se6;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

#section_7{
  grid-area: se7;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

#palsjackor{
  width: 90%;
  height: 260px;
  margin: 10px;
}


.bilder_trendsida{
  width: 90%;
  height: 260px;
  margin: 10px;
}

#volang_trendsida{
  height: 280px;
}

#section_8{
  background-color: white ;
  grid-area: se8;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#section_9{
  grid-area: se9;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.met_gala_text {
color: white;
font-size: 25px;
}

#article_5 {
  grid-area: ar5;
  background-image: url(../img/bild_sid1_newyork.jpg);
  background-position: center;
  background-size: cover;
}

#article_6 {
  grid-area: ar6;
  background-color: green;

}

#article_7 {
  grid-area: ar7;
  background-color: pink;
}

#article_8 {
  grid-area: ar8;
  background-color: purple;
}
#article_9 {
  grid-area: ar9;
  background-color: blue;
}
#article_10 {
  grid-area: ar10;
  background-color: orange;
}

#article_11 {
  grid-area: ar11;
  background-color: purple;
}

#article_12 {
  grid-area: ar12;
  background-color: turquoise;
}
#article_13 {
  grid-area: ar13;
  background-color: darkblue;
}
#article_14 {
  grid-area: ar8;
  background-color: pink;
}
#article_15 {
  grid-area: ar15;
  background-color: purple;
}
#article_16 {
  grid-area: ar16;
  background-color: blueviolet;
}
#section_12{
  grid-area: se13;
  background-color: grey;
}
#section_13{
  grid-area: se13;
  background-color: beige;
}








.new_york_text{
  color: white;
  font-size: 25px;
}

footer {
  background-color:beige;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.sociala_medier{
margin: 20px;
display: flex;
flex-direction: column;
} 
.juridiskt{
  padding: 10px;
  position: relative;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background_color);
}

#link_list {
  background: var(--background_color);
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  position: absolute;
  top: -420px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  transition: all 0.5s;
}


.links_visible {
  transform: translateY(500px);
}

#link_list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  width: 200px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#link_list a:hover {
  background: grey;
  color: darkgrey;
}

.burger_line {
  width: var(--burgerline_width);
  height: var(--burgerline_height);
  margin: var(--burgerline_margin);
  background: black;
  border-radius: 20%;
  transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
  opacity: 0;
}

.burger_in_x_form #burger_line_1 {
  transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
  transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#burger {
  margin-right: 20px;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 20px;
}

h1{
  margin-top: 20px;
}

#upptack {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: BLACK;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  position: absolute;
  top: 70%;
  left: 45%;
  border-radius:0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
#text_se1 {
  color: white;
  position: relative;
  left: 200px;
  top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 900px;
}

#prenumerera{
  color: black;
  background-color:lightgrey;
  position: relative;
  height: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;


}


/* telefonanpassning */
@media screen and (max-width: 800px) {
  #huvudsida{
    grid-template-columns: 1fr;
    grid-template-rows: 500px 80px 600px 500px 500px 500px ;
    grid-template-areas:
    "se1"
    "se2"
    "ar3"
    "ar4"
    "ar5";
  }
  #text_se1 {
    color: white;
    position: relative;
    left: 20px;
    top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20px;
  }

}